html, body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #444;
  color: #fff;
}


body * {
  box-sizing: border-box;
}

a, a:visited, a:active {
  color:#fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-color: #666;
}

notification {
  padding:10px 20px;
  position: fixed;
  top:5px;
  right:5px;
  background:$blue;
  border-radius: 4px;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(0,0,0,0.7);
  .content {
    display: inline-block;
    width: 400px;
    padding: 30px;
    background: #000;
    margin-top: 100px;
  }
  input {
    margin-left: 10px;
  }
  a {
    display: block;
    padding: 10px 5px;
    margin: 5px 0;
    cursor: pointer;
  }
  .selected {
    border: 1px solid $yellow;
  }
}
