.modal-content {
    background: rgba(0, 0, 0, 0.73);
}

.modal-title {
    color : #FFF;
}

a.list-group-item i.fa-bullhorn {
    display:none;
}

a.list-group-item.activity i.fa-bullhorn{
    display:inline-block;
    margin-left:10px;
    color: rgb(33, 150, 243);
    font-size:23px;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 0.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 0.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

input.full {
  width: 100% !important;
}

.alert-success {
    background-color: #4caf50!important;
}



/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}






@-webkit-keyframes spinnerRotate
{
    from{
        color: rgb(33, 150, 243);
        
    }
    to{
        color: #e51c23;
        
    }
}
@-moz-keyframes spinnerRotate
{
    from{
        color: rgb(33, 150, 243);
        font-size:23px;
    }
    to{
        color: #e51c23;
        
    }
}
@-ms-keyframes spinnerRotate
{
    from{
        color: rgb(33, 150, 243);
        
    }
    to{
        color: #e51c23;
        
    }
}

