#custombuild .modal-content {
    background: #fff;
}

#custombuild .modal-content div {
    clear: both;
}

#custombuild .modal-content label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
#custombuild .modal-content input.radio:empty {
    margin-left: -999px;
}

/* style label */
#custombuild .modal-content input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    /*margin-top: 2em;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
}

#custombuild .modal-content input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
#custombuild .modal-content input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

#custombuild .modal-content input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
#custombuild .modal-content input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

#custombuild .modal-content input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
#custombuild .modal-content input.radio:focus ~ label:before {
    /*box-shadow: 0 0 0 3px #999;*/
}

#custombuild .modal-title {
    color: rgba(0, 0, 0, 0.73);
}

.modal-content {
    background: rgba(0, 0, 0, 0.73);
}

.modal-title {
    color : #FFF;
}

/* Correct Bootstrap's Modal.*/
.modal {
    position:fixed!important;
    width: 100%;
    height : 100%;
}

a.list-group-item i.fa-comment {
    display:none;
}

a.list-group-item:hover {
    background-color: #E8E8E8;
}

a.list-group-item.activity i.fa-comment{
    display:inline-block;
    margin-left:10px;
    color: rgb(33, 150, 243);
    font-size:23px;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 0.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 0.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

input.full {
  width: 100% !important;
}

.alert-success {
    background-color: #4caf50!important;
}



/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}






@-webkit-keyframes spinnerRotate
{
    from{
        color: rgb(33, 150, 243);
        
    }
    to{
        color: #e51c23;
        
    }
}
@-moz-keyframes spinnerRotate
{
    from{
        color: rgb(33, 150, 243);
        font-size:23px;
    }
    to{
        color: #e51c23;
        
    }
}
@-ms-keyframes spinnerRotate
{
    from{
        color: rgb(33, 150, 243);
        
    }
    to{
        color: #e51c23;
        
    }
}

