<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database fa-fw"></i> Your Stored Processes</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {{#each process in model}}
                        <a class="list-group-item" id="{{unbound process.id}}">

                            <span class="text-right">
                                {{process.pcpu}}
                            </span>
                            
                            <span class="pull-left" style="width:calc(100% - 143px)"><i class="fa fa-fw fa-gear"></i> {{process.model.name}} </span>
                        </a>
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</div>