<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-cogs"></i> Processes
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database fa-fw"></i> Your Stored Processes</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {{#each process in model}}
                        <a class="list-group-item">
                            <span class="badge">
                                {{#link-to 'process.edit' process.id}}edit{{/link-to}}
                            </span>
                            <i class="fa fa-fw fa-gear"></i> {{process.name}}
                        </a>
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->