<!-- Page Heading -->
<div class="row hidden">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-cogs"></i> Processes
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <legend class="inline"> <i class="fa fa-database fa-fw"></i> Your Stored Processes <span class="inline pull-right">{{input class="form-control" action="search" onEvent="enter" value=controller.search placeholder="Search"}}
        </span></legend>
        
        <div class="list-group">
            {{#each process in mirror}}
            <a class="list-group-item">
                <span class="pull-right" style="font-size: 24px; font-weight: 300">
                    {{#link-to 'process.edit' process.id}}<i class="fa fa-fw fa-pencil"></i>{{/link-to}}
                </span>
                <span style="width:calc(100% - 143px); font-size: 24px; font-weight: 300"><i class="fa fa-fw fa-gear"></i> {{process.name}} <span class="grey">:{{process.port}}</span></span>
            </a>
            {{/each}}
        </div>
    </div>
</div>
<!-- /.row -->
